.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  position: relative;
  text-align: center;
}

.app-container {
  flex: 1;
}

.add-list-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-list-btn {
  margin-right: 30px;
}

.lists-wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: scroll;
}
