:root {
  --font-family: 'Lato', sans-serif;
  --font-size: 14px;
  --line-height: 1.5;
  --color: #333;
  --background-color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

textarea {
  font-family: var(--font-family);
}

html, body, #root, #root>div.app {
  height: 100%;
}

.h-100 {
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 8px 0;
	padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 99;
}

.padding-tb-16 {
  padding: 16px 0;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}